.signup-btn(@color:white, @backgroundColor:teal) {
  color: @color;
  background-color: @backgroundColor;
  border-radius: 25px;
  padding: 15px;
  font-size: 1.6rem;
  width: 85%;
  text-align: center;
  }// Mixins in here
